@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
    display: flex;
    font-family: 'Poppins',sans-serif;
    background-color: #ebebff;
    flex-direction: column;
  }
  
  .header{
    height: auto;
    justify-content: space-between;
    background-color: #fff;
    display: flex;
    width: 100%;
  }
  
  .logo {
    font-weight: 700;
    margin-left: 20px;
    font-size: 18px;
    color: #6070ff;
  }
  main{
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 50px;
  }
  
  .menu {
    margin-right: 100;
  }
  
  .headLine {
    /* background-size: contain; */
    border-bottom-left-radius: 50px;
    background-color: #fff;
    width: 100%;
    height: auto;
    background-image: url(./bg.jpeg);
    background-repeat: no-repeat;
  }
  
  .intro {
    margin-left: 10%;
    margin-top: 25%;
    color: #172b4d;
    font-size: 40px;
    width: 70%;
  }
  
  .para {
    width: 85%;
    margin-left: 10%;
    font-size: 16px;
    color: #344563;
  }
  
  .connect {
    color: #7f8cff;
    margin-left: 30px;
    font-weight: bold;
  }
  
  .social {
    margin-left: 30px;
  }
  ul.social{
    width: 170px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  ul.social1{
    margin-left: -8px;
    width: 170px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  .FImage{
    width: 295px;
    height: 220px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    margin-top: 70px;

  }
  .tonic{
    width: 295px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;

  }
  ul.body{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  section.body{
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }
  .image1{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .mid-portion{
    margin-top: 10px
  }
  div h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    
  }
  .list{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .canopy{
    font-weight: bold;
  }
  .skills{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EBEBFF;
    color: #6070FF;
    border-radius: 8px;
  }
  .button{
    padding: 15px;
    border: 1px solid #6070FF;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    color: #6070FF;
    font-weight:700;
    font-size: large;
  }
  .about{
    width: 327px;
    height: 35px;
    gap: 0px;
    opacity: 0px;
    font-size: xx-large;
    margin-top: 75px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;

  }
  .lets-connect{
    left: -30px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #6070FF;

  }