@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
    display: flex;
    font-family: 'Poppins',sans-serif;
    background-color: #ebebff;
    flex-direction: column;
  }
  
  .header{
    height: auto;
    justify-content: space-between;
    background-color: #fff;
    display: flex;
    width: 100%;
  }
  
  .logo {
    font-weight: 700;
    margin-left: 20px;
    font-size: 18px;
    color: #6070ff;
  }
  main{
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 50px;
  }
  
  .menu {
    margin-right: 100;
  }
  
  .headLine {
    /* background-size: contain; */
    border-bottom-left-radius: 50px;
    background-color: #fff;
    width: 100%;
    height: auto;
    background-image: url(./bg.jpeg);
    background-repeat: no-repeat;
  }
  
  .intro {
    margin-left: 10%;
    margin-top: 25%;
    color: #172b4d;
    font-size: 40px;
    width: 70%;
  }
  
  .para {
    width: 85%;
    margin-left: 10%;
    font-size: 16px;
    color: #344563;
  }
  
  .connect {
    color: #7f8cff;
    margin-left: 30px;
    font-weight: bold;
  }
  
  .social {
    margin-left: 30px;
  }
  ul.social{
    width: 170px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  .FImage{
    width: 295px;
    height: 220px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    margin-top: 70px;

  }
  .tonic{
    width: 295px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;

  }
  ul.body{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  /* .first{
    position: absolute;
    list-style: none;
    width: 55px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    left: 2px;
    text-align: left;
  }
  .second{
    position: absolute;
    list-style: none;
    width: Hug (88px)px;
    height: Hug (32px)px;
    margin-top: -13px;
    padding: 8px 0px 8px 0px;
    gap: 0px;
    opacity: 0px;
    left: 75px;
  }
  .third{
    position: absolute;
    list-style: none;
    width: Hug (88px)px;
    height: Hug (32px)px;
    margin-top: -13px;
    padding: 8px 0px 8px 0px;
    gap: 0px;
    opacity: 0px;
    left: 200px;
  }
  p.body-paragraph{
    width: 295px;
    height: 76px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
  } */
