@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
    display: flex;
    font-family: 'Poppins',sans-serif;
    background-color: #ebebff;
    flex-direction: column;
  }
  
  .header{
    height: auto;
    justify-content: space-between;
    background-color: #fff;
    display: flex;
    width: 100%;
  }
  
  .logo {
    font-weight: 700;
    margin-left: 20px;
    font-size: 18px;
    color: #6070ff;
  }
  main{
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 50px;
  }
  
  .menu {
    margin-right: 100;
  }
  
  .headLine {
    /* background-size: contain; */
    border-bottom-left-radius: 50px;
    background-color: #fff;
    width: 100%;
    height: auto;
    background-image: url(./bg.jpeg);
    background-repeat: no-repeat;
  }
  
  .intro {
    margin-left: 10%;
    margin-top: 25%;
    color: #172b4d;
    font-size: 40px;
    width: 70%;
  }
  
  .para {
    width: 85%;
    margin-left: 10%;
    font-size: 16px;
    color: #344563;
  }
  
  .connect {
    color: #7f8cff;
    margin-left: 30px;
    font-weight: bold;
  }
  
  .social {
    margin-left: 30px;
    margin-bottom: 16%;
  }
  ul{
    width: 170px;
    padding-left: 22px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }